
*{
  font-family: 'Courier New', Courier, monospace;
  
}
b{
  font-size: large;
  text-decoration: none;
  border: none;
  color: black;
}
body{
  font-family: 'Courier New', Courier, monospace;
  background-color:rgb(71, 3, 71);
  color: #fff;
  background-image: url('');
background-repeat: no-repeat;
background-size: cover;
 



}